.wrapper{
    padding: 50px 0px;
    width: 300px;
}    


.my-input{
}

hr{
    width: 300px;
}

.task-item{
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    width: 300px;
    height: 50px;
    line-height: 30px;
    vertical-align: middle;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 0.5px solid rgb(194, 194, 194);
    border-radius: 15px;
    margin: 10px 0;
}

.task-text{
    cursor: pointer;
    
}

.done{
    text-decoration: line-through;
}

.delete-todo{
    cursor: pointer;
    color: red;
}